<form class="row">
    <div class="input-group input-group-lg col-sm-offset-3 col-sm-6">
        <input type="text" class="center-block form-control input-lg" title="URL" placeholder="URL">
        <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">Shorten</button></span>
    </div>
</form>