<div ng-app="bitlink">
    <div class="row">
        <div class="input-group input-group-lg col-md-offset-5 col-md-2">
            <a href="#/" class="btn btn-link" role="button">Back</a>
        </div>
    </div>
    <table class="table text-left">
        <tr>
            <th>URL</th>
            <th>Short link</th>
            <th style="width: 150px;">Date</th>
            <th>Clicks</th>
        </tr>
        <tr>
            <th colspan="4" ng-if="loadingLinks">{{message}}</th>
        </tr>
        <tr ng-repeat="link in links">
            <td><a href="{{link.url}}">{{link.url}}</a></td>
            <td><a href="{{link.shortUrl}}">{{link.shortUrl}}</a></td>
            <td>{{link.dateCreated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{link.clickCount}}</td>
        </tr>
    </table>
</div>